doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/quill.snow.css')
    link(rel='stylesheet', href='/quill-cursors.css')
  body
    block content
    script(src='/dist/chance.min.js')
    script(src='/dist/bundle.js')
    block scripts
